@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;

.profile-posts {
	display: flex;
	flex-direction: column;
	gap: 16rem;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 16rem;
		background-color: $w;
		border: 1px solid $stroke-line;
		border-radius: 8rem;
		padding: 24rem;
		width: 100%;

		&__title {
			margin-top: 8rem;
			color: $type-heading;
		}

		&__counter {
			color: $type-hint;
		}

		&__actions {
			display: flex;
			justify-content: space-between;

			@include phone {
				flex-direction: column;
				gap: 16rem;
			}
		}

		&__filter-actions {
			//
		}

		&__buttons button {
			@include phone {
				width: 100%;
			}
		}
	}
}
