@use "../../config" as *;
@use "../../@mixins/media-queries" as *;

.comments {
	display: flex;
	align-items: start;
	gap: 24rem;

	@include mobile {
		flex-direction: column;
	}

	@include phone {
		gap: 32rem;
	}

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 24rem;
		border: 1px solid $stroke-line;
		border-radius: 8rem;
		background-color: $w;
		padding: 40rem 32rem;

		@include laptop {
			width: 668rem;
		}

		@include phone {
			padding: 24rem 16rem;
			width: 100%;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 32rem;
	}

	&__banner {
		width: 310rem;
		height: 100%;
		position: relative;

		@include laptop {
			width: 322rem;
		}

		@include mobile {
			width: 100%;
		}

		.sidebar-banner {
			@include phone {
				display: block !important;
			}
		}
	}

	&__up-button {
		display: none;
		position: fixed;
		bottom: 48rem;

		@include mobile {
			display: none !important;
		}

		&_show {
			display: block;
		}
	}
}
