@use "../../config" as *;
@use "../../@mixins/media-queries" as *;

.footer {
	$parent: &;

	display: flex;
	justify-content: space-between;
	gap: 32rem;
	padding: 16rem 200rem;
	box-sizing: border-box;
	border-top: 1px solid $stroke-line;
	background-color: $w;

	@include laptop {
		padding: 16rem 40rem;
	}

	@include tablet {
		flex-direction: column;
		gap: 16rem;
		padding: 16rem 32rem;
	}

	@include phone {
		flex-direction: column;
		gap: 16rem;
		padding: 16rem;
	}

	&_sidebar {
		flex-direction: column-reverse;
		padding: 0;
		padding-left: 16rem;
		border: none;

		#{$parent}__links {
			flex-direction: column;
			gap: 12rem;
		}

		@include laptop {
			padding: 0;
			padding-left: 16rem;
		}
	}

	&__company {
		white-space: nowrap;
		color: $type-text;
		font-size: 12rem;
		line-height: 16rem;
		font-weight: 400;
	}

	&__links {
		display: flex;
		flex-wrap: nowrap;
		gap: 24rem;
		font-size: 12rem;
		line-height: 16rem;
		font-weight: 400;

		@include phone {
			flex-direction: column;
			gap: 16rem;
		}

		a {
			white-space: nowrap;
			text-decoration: none;
			color: $type-heading;
		}
	}
}
