@use "../config" as *;
@use "../@mixins/media-queries" as *;
@use "../base/typography" as *;

.complaint {
	display: flex;
	flex-direction: column;
	gap: 24rem;

	&__header {
		@extend .h2;
		color: $type-heading;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 24rem;

		&_text {
			gap: 16rem;
		}
	}

	&__button {
		//
	}
}
