@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;

.mobile-menu-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	padding: 8rem 16rem;
	background: $w;
	font-size: 12rem;
	line-height: 16rem;
	font-weight: 600;
	color: $type-heading;
	width: 100%;

	@include phone {
		padding: 4rem 0;
		font-size: 10rem;
		line-height: 16rem;
		gap: 0;

		.icon {
			font-size: 24rem;
		}
	}

	&:hover {
		background-color: $pale-button-light;
	}

	&:active {
		background-color: $pale-button-dark;
	}

	&_active {
		background-color: $accent-button-default;
	}

	&_small {
		padding: 4rem 16rem;
		font-size: 10rem;
	}

	&__number {
		position: absolute;
		top: 8rem;
		left: calc(50% + 5rem);
	}

	&__menu {
		display: none;
		flex-direction: column;
		position: absolute;
		border: 1px solid $stroke-line;
		border-radius: 4rem;
		background-color: $w;
		bottom: 48rem;
		left: 0;
		white-space: nowrap;

		a {
			padding: 8rem 16rem;
			background-color: $w;
			font-size: 16rem;
			line-height: 24rem;
			font-weight: 400;
			color: $type-heading;

			&:hover {
				background-color: $pale-button-light;
			}
		}

		&_show {
			display: flex;
		}
	}
}
