
.file-uploaded {

    display: flex;
    gap: 8rem;

    &__icon {
        color: #ACD418;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-name {
            color: #3E352C;
            font-size: 16rem;
        }

        &-meta {
            color: #8D8A84;
            font-size: 12rem;
        }
    }

}
