@use "../@mixins/media-queries" as *;

// Установка корневой единицы измерения для различных вьюпортов
html {
	@include print {
		font-size: calc(1 / 10) + vw;
	}

	@include phone {
		font-size: calc(1 / 3.6) + vw;
	}

	@include tablet {
		font-size: calc(1 / 7.68) + vw;
	}

	// @include tablet-landscape {
	// 	font-size: calc(1 / 10.24) + vw;
	// }

	@include laptop {
		font-size: calc(1 / 13.66) + vw;
	}

	@include wide {
		font-size: calc(1 / 19.2) + vw;
	}
}
