@use "../../config" as *;
@use "../../@mixins/media-queries" as *;

.add-post-block {
	position: relative;
	width: fit-content;

	&__button {
		//
	}

	&__options {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 40rem;
		left: 0;
		width: 100%;
		border: 1px solid $stroke-field;
		border-radius: 4rem;
		background-color: $w;
		overflow: hidden;
	}

	&__option {
		width: 100%;
		padding: 8rem 16rem;
		cursor: pointer;

		&:hover {
			background-color: $pale-button-default;
		}
	}
}
