@use "../../config" as *;
@use "../../@mixins/media-queries" as *;

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8rem;
	padding: 8rem 16rem 8rem 16rem;
	font-size: 16rem;
	line-height: 24rem;
	font-weight: 600;
	color: $links-light;
	border: 1px solid transparent;
	border-radius: 4rem;
	min-width: 40rem;

	&_square {
		padding: 8rem;
	}

	&_selected {
		background-color: $pale-button-white;
		color: $type-heading;
		box-shadow: 0px 7px 15px 0px #cec4ae6b;
		border: 1px solid $stroke-line;
		pointer-events: none;
		cursor: default;
		box-sizing: border-box;
	}

	&:hover {
		background-color: $pale-button-light;
		color: $type-heading;
	}

	&:active,
	&_active {
		background-color: $pale-button-dark;
		color: $type-heading;
	}
}
