@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;

.diary-form {
	display: flex;
	flex-direction: column;
	gap: 24rem;
	background-color: $w;
	padding: 40rem 32rem;
	border: 1px solid $stroke-line;

	@include phone {
		gap: 16rem;
		padding: 24rem 16rem;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 8rem;

		@include phone {
			gap: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 24rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 16rem;
	}

	&__input-group {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		gap: 24rem;

		@include mobile {
			grid-auto-columns: unset;
			grid-auto-flow: unset;
			grid-template-columns: minmax(0, 1fr);
		}
	}

	&__blocks {
		margin-top: 4rem;
	}

	&__flags {
		display: flex;
		flex-direction: column;
		gap: 16rem;
		width: fit-content;
	}

	&__footer {
		//
	}
}
