@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;
@use "../../../base/typography" as *;

.sale-rent {
	background-color: $w;
	border: 1px solid $stroke-line;
	border-radius: 8rem;
	padding-top: 40rem;
	padding-bottom: 40rem;

	@include phone {
		padding-top: 24rem;
		padding-bottom: 24rem;
	}

	&__header {
		padding: 0 32rem 24rem 32rem;

		@include phone {
			padding: 0 16rem 16rem 16rem;
		}

		h2 {
			margin-bottom: 24rem;
		}
	}

	&__tabs {
		display: flex;
		flex-direction: row;
		gap: 8rem;

		& > * {
			white-space: nowrap;
		}

		@include phone {
			overflow-x: auto;
			width: calc(100% + 32rem);
			position: relative;
			left: -16rem;
		}

		.btn_white {
			color: $links-light;

			&.selected {
				color: $type-heading;
			}
		}
	}

	&__status {
		margin-top: 24rem;
		margin-bottom: 24rem;
		background-color: $attention-pale;
		border-radius: 8rem;
		border: 1rem solid $attention-yellow;
		@extend .p;
		color: $type-heading;
		padding: 16rem;
		display: flex;
		flex-direction: row;
		gap: 8rem;

		.icon {
			color: $attention-yellow;
		}
	}

	&__form {
		&__section {
			padding: 32rem;

			@include phone {
				padding: 16rem;
			}

			.hint-color {
				color: $type-hint;
			}

			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}

			&_border {
				border-top: 1px solid $stroke-line;
			}

			textarea {
				min-height: 120rem;
			}

			&__grid {
				display: grid;
				grid-column-gap: 32rem;
				grid-row-gap: 24rem;
				grid-template-columns: repeat(2, 1fr);
				margin-top: 16rem;

				@include phone {
					grid-template-columns: 1fr;
				}

				&__grid {
					display: flex;
					flex-direction: row;
					gap: 24rem;
					margin-top: 12rem;
				}
			}

			&__list {
				display: flex;
				flex-direction: column;
				gap: 16rem;
				margin-top: 16rem;
				margin-bottom: 24rem;
			}
		}

		&__currency-type {
			display: flex;
			flex-direction: row;
			gap: 24rem;
			margin-top: 8rem;
			margin-bottom: 24rem;
			flex-wrap: wrap;

			@include phone {
				column-gap: 24rem;
				row-gap: 8rem;
			}
		}
	}
}
