@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;

.horses-feed {
	@include phone {
		display: flex;
		flex-grow: 1;
		align-self: start;
		align-items: stretch;
		margin: 0;
		padding: 0;
	}

	&__content {
		padding: 40rem 0;
		border: 1px solid $stroke-line;
		border-radius: 8rem;
		background-color: $w;

		@include phone {
			padding: 24rem 0;
			margin: 0;
			border-radius: 0;
			width: 360rem;
		}
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		padding: 0 32rem 24rem;

		@include phone {
			flex-direction: column;
			justify-content: start;
			gap: 16rem;
			padding: 0 16rem 16rem;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 24rem;
		padding: 32rem;
		border-bottom: 1px solid $stroke-line;

		@include phone {
			padding: 24rem 16rem;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	&__cards__hint {
		color: $type-text;
	}

	&__cards__cards {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 24rem;

		@include tablet {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include phone {
			grid-template-columns: minmax(0, 1fr);
			gap: 16rem;
		}
	}
}
