@use "../../../config" as *;
@use "../../../@mixins/media-queries" as *;
@use "../../../base/atom" as *;
@use "../../../base/typography" as *;

.horse-advertisement {
	@extend .main-content-width;
	padding: 32rem;
	background-color: $content-green;
	border: 1px solid $stroke-line;
	border-radius: 8rem;

	&__prices {
		margin-top: 8rem;

		@include phone {
			margin-top: 0;
		}

		&-prices {
			display: flex;
			align-items: baseline;
			gap: 24rem;

			@include phone {
				flex-wrap: wrap;
				gap: 4rem 16rem;
			}
		}

		&-hint {
			@extend .hint;
			color: $type-hint;
			margin-top: 4rem;
		}
	}

	&__price {
		@extend .p_bold;
		color: $type-hint;

		@include phone {
			font-size: 12rem;
			line-height: 16rem;
			font-weight: 600;
		}

		&:first-child {
			@extend .h3;
			color: $type-heading;

			@include phone {
				width: 100%;
			}
		}
	}

	&__about-horse {
		@extend .p_bold;
		margin-top: 16rem;
	}

	&__text {
		margin-top: 8rem;
	}

	&__actions {
		display: flex;
		gap: 24rem;
		margin-top: 24rem;

		@include phone {
			flex-direction: column;
			gap: 12rem;
		}
	}
}
